*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Poppins,sans-serif;
    color:white;
    background:linear-gradient(
        -45deg,
        #0f172a,
        #1e3a8a,
        #06b6d4,
        #0f172a
    );

    background-size:400% 400%;
    animation:gradientBG 12s ease infinite;
}

html{
    scroll-behavior:smooth;
}

.hidden{
    opacity:0;
    transform:translateY(50px);
}

.show{
    opacity:1;
    transform:translateY(0);
    transition:1s;
}

.profile-img{
    width:180px;
    border-radius:50%;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:50px;
}

.light{
    background:white;
    color:black;
}

@keyframes gradientBG{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}
